This notebook relies on the following cmd line tools, ensure they are installed and in the system
- tippecanoe
- mapshaper
- aws cli

In [ ]:
#!micromamba install pandera pandera-hypotheses pandera-io pandera-geopandas -c conda-forge -y

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from pathlib import Path
import sys
import logging

from IPython.lib import backgroundjobs as bg

scripts_dir = Path('..').joinpath('src')
if scripts_dir not in sys.path:
    sys.path.insert(0, scripts_dir.resolve().as_posix())

from pipelines.pipes import get_pipes, execution_order, filter_pipes

logging.basicConfig(level=logging.DEBUG)
logging.getLogger("requests").setLevel(logging.WARNING)
logging.getLogger("urllib3").setLevel(logging.WARNING)
logging.getLogger("fiona").setLevel(logging.WARNING)
jobs = bg.BackgroundJobManager()

In [ ]:
# def execute_pipes(pipes):
#     ordered_pipes = execution_order(pipes)
#     for pipe in ordered_pipes:
#         jobs.new(pipe().execute)

# # this code will execute all pipelines selected in background.

# mypipes_subset = filter_pipes(get_pipes(), ['eez_tiles'])
# execute_pipes(mypipes_subset)

In [3]:
get_pipes()

{'eez_intermediate': pipelines.intermediate_pipes.EEZIntermediatePipe.EEZIntermediatePipe,
 'mpaatlas_intermediate': pipelines.intermediate_pipes.MpaAtlasIntermediatePipe.MpaAtlasIntermediatePipe,
 'mpa_intermediate': pipelines.intermediate_pipes.MpasIntermediatePipe.MpasIntermediatePipe,
 'protectedseas_intermediate': pipelines.intermediate_pipes.ProtectedSeasIntermediatePipe.ProtectedSeasIntermediatePipe,
 'eez_tiles': pipelines.tiles_pipes.EEZTilesPipe.EEZTilesPipe,
 'mpaatlas_tiles': pipelines.tiles_pipes.MpaAtlasTilesPipe.MpaAtlasTilesPipe,
 'mpa_tiles': pipelines.tiles_pipes.MpasTilesPipe.MpasTilesPipe,
 'protectedseas_tiles': pipelines.tiles_pipes.ProtectedSeasTilesPipe.ProtectedSeasTilesPipe,
 'regions_tiles': pipelines.tiles_pipes.RegionsTilesPipe.RegionsTilesPipe,
 'habitats_precalc': pipelines.precalc_pipes.HabitatsPipe.HabitatsStatsPipe,
 'lfp_precalc': pipelines.precalc_pipes.LFPStatsPipe.LFPStatsPipe,
 'eez_locations_precalc': pipelines.precalc_pipes.LocationsPipe.LocationsPipe,
 'MpaAtlas_stats_precalc': pipelines.precalc_pipes.MpasTablepipe.MpaAtlasStatsPipe,
 'mpa_coverage_precalc': pipelines.precalc_pipes.PACoveragePipe.PACoveragePipe}

In [13]:
mypipes_subset = filter_pipes(get_pipes(), ["mpaatlas_intermediate"])

In [14]:
for n, pipe in mypipes_subset.items():
    new_pipe = pipe()
    new_pipe.extract().transform()

DEBUG:pipelines.settings:/home/mambauser/data
INFO:pipelines.base_pipe:Pipeline mpaatlas_intermediate running at 2024-03-13 08:26:49.462776: starting extract...
INFO:helpers.utils:File /home/mambauser/data/mpaatlas_intermediate/mpatlas_assess_zone.geojson already exists.
INFO:pipelines.base_pipe:Pipeline mpaatlas_intermediate finish at 2024-03-13 08:26:49.463871: Success executing extract
INFO:pipelines.base_pipe:Pipeline mpaatlas_intermediate running at 2024-03-13 08:26:49.464149: starting transform...
/home/mambauser/src/pipelines/intermediate_pipes/MpaAtlasIntermediatePipe.py:84: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  gpd.GeoDataFrame(
WARNING:fiona._env:Normalized/laundered field name: 'designation' to 'designatio'
WARNING:fiona._env:Normalized/laundered field name: 'location_id' to 'location_i'
WARNING:fiona._env:Normalized/laundered field name: 'establishment_stage' to 'establishm'
WARNING:fiona._env:Normalized/laundered field name: 'protection_mpaguide_level' to 'protection'
WARNING:fiona._env:Normalized/laundered field name: 'protection_level' to 'protecti_1'
INFO:pipelines.base_pipe:Pipeline mpaatlas_intermediate finish at 2024-03-13 08:27:17.038267: Success executing transform

In [3]:
from pathlib import Path
from typing import Union
import pandas as pd
import geopandas as gpd
import numpy as np

from helpers.strapi import Strapi

from data_commons.loader import load_regions

from pipelines.output_schemas import (
    StablishmentStageSchema,
    FPLSchema,
    ProtectionLevelSchema,
    MPAsSchema,
    MPAsTableStatsSchema,
    HabitatsSchema,
)

In [4]:
eez_folder = Path("../data/eez_intermediate").absolute()
mpa_folder = Path("../data/mpa_intermediate").absolute()
mpaatlas_folder = Path("../data/mpaatlas_intermediate").absolute()
protectedseas_folder = Path("../data/protectedseas_intermediate").absolute()
habitats_folder = Path("../data/habitats_intermediate").absolute()


location_code = pd.read_csv(eez_folder.joinpath("locations_code.csv"))

In [5]:
habitats_intermediate = pd.read_csv(habitats_folder.joinpath("habitats4.csv"), keep_default_na=False)

In [5]:

mpa_intermediate = gpd.read_file(mpa_folder.joinpath("mpa_intermediate", "mpa_intermediate.shp"))

In [6]:
protectedseas_intermediate = gpd.read_file(
    protectedseas_folder.joinpath("protectedseas_intermediate", "protectedseas_intermediate.shp")
)

In [7]:
mpaatlas_intermediate = gpd.read_file(
    mpaatlas_folder.joinpath("mpaatlas_intermediate", "mpaatlas_intermediate.shp").as_posix()
)

In [30]:
def separate_parent_iso(df: pd.DataFrame, iso_column="location_i", separator=";") -> pd.DataFrame:
    df[iso_column] = (
        df[iso_column].str.replace(" ", "").str.replace(":", separator).str.split(separator)
    )
    return df.explode(iso_column)


def calculate_area(df: pd.DataFrame, output_area_column="area_km2") -> pd.DataFrame:
    df[output_area_column] = (df.to_crs("ESRI:54009")["geometry"].area / 10**6).round(2)
    return df


def calculate_global_area(
    df: pd.DataFrame, gby_col: list, output_area_column="area_km2", iso_column="location_i"
) -> pd.DataFrame:
    global_area = (
        df.groupby([*gby_col])
        .agg({output_area_column: "sum"})
        .reset_index()
        .assign(**{iso_column: "GLOB"})
    )
    return pd.concat([global_area, df], ignore_index=True)


def add_region_iso(df: pd.DataFrame, iso_column) -> pd.DataFrame:
    regions = load_regions()

    def find_region_iso(iso: str) -> Union[str, None]:
        filtered_regions = list(filter(lambda x: iso in x["country_iso_3s"], regions.get("data")))
        return filtered_regions[0]["region_iso"] if len(filtered_regions) > 0 else None

    return df.assign(region=lambda row: row[iso_column].apply(find_region_iso))


def mpaatlas_calculation(df: pd.DataFrame, gby_col: list) -> pd.DataFrame:
    regions = (
        df.groupby([*gby_col, "region"])
        .agg({"area_km2": "sum"})
        .reset_index()
        .rename(columns={"region": "location_i"})
    )

    return pd.concat(
        [
            regions,
            df.groupby([*gby_col, "location_i"]).agg({"area_km2": "sum"}).reset_index(),
        ],
        ignore_index=True,
    )


def protectedseas_calculation(df: pd.DataFrame, gby_col: list) -> pd.DataFrame:
    regions = (
        df.groupby([*gby_col, "region"])
        .agg({"area_km2": "sum"})
        .reset_index()
        .rename(columns={"region": "iso"})
    )
    return pd.concat(
        [
            regions,
            df.groupby([*gby_col, "iso"]).agg({"area_km2": "sum"}).reset_index(),
        ],
        ignore_index=True,
    )


def batch_export(df: pd.DataFrame, batch_size: int, schema: object, folder: Path, filename: str):
    prev = 0
    for idx, size in enumerate(range(batch_size, len(df.index) + batch_size, batch_size)):
        schema(df[(df.index > prev) & (df.index < size)]).to_csv( # type: ignore
            folder.joinpath(f"{filename}_{idx}.csv"),
            index=True,
            encoding="utf-8",
        )
        prev = size


def fix_monaco(df: pd.DataFrame, iso_column="location_i", area_column="area_km2") -> pd.DataFrame:
    df.loc[df[iso_column] == "MCO", area_column] = 288
    return df


def set_area(df: pd.DataFrame) -> pd.DataFrame:
    return df.assign(
        area_km2=df[["area_km2_x", "area_km2_y", "area"]].bfill(axis=1)[["area_km2_x"]]
    )


def output(
    df: pd.DataFrame, iso_column: str, rep_d: dict, rename: dict, drop_cols: list
) -> pd.DataFrame:
    if iso_column:
        locations_code = pd.read_csv(
            eez_folder.joinpath("locations_code.csv"), keep_default_na=False
        )
        df = df.join(locations_code.set_index("code"), on=iso_column, how="left")
    return (
        df.replace(rep_d)
        .rename(columns=rename)
        .drop(columns=drop_cols)
        .assign(
            id=df.index + 1,
        )
        .set_index("id")
    )


def filter_location(df: pd.DataFrame) -> pd.DataFrame:
    return df[~df.location.isna()]

In [14]:
habitats_intermediate

    location_id      protected_area    total_area       habitat_name  year
0           AGO                 0.0      3.395671  cold-water corals  2024
1           ALB                 0.0      5.986479  cold-water corals  2024
2           ARG    6.98422602063557     61.826344  cold-water corals  2024
3           ATA    5.41915117560982     18.889068  cold-water corals  2024
4           ATG                 0.0      0.997747  cold-water corals  2024
..          ...                 ...           ...                ...   ...
611          AS  21277.219999999998  74292.673146          mangroves  2020
612          EU           732.14375   1246.189677          mangroves  2020
613          NA             2097.74   2415.418557          mangroves  2020
614          SA  27151.739999999998  39893.444608          mangroves  2020
615          WA  27.830000000000002    173.620938          mangroves  2020

[616 rows x 5 columns]

In [62]:
habitat_stats.replace({"protectedArea":{"": None}}).astype({"protectedArea": "float64"}).info()

<class 'pandas.core.frame.DataFrame'>
Index: 616 entries, 1 to 616
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   protectedArea  570 non-null    float64
 1   totalArea      616 non-null    float64
 2   habitat        616 non-null    int64
 3   year           616 non-null    int64
 4   location       616 non-null    int64
dtypes: float64(2), int64(3)
memory usage: 28.9 KB

In [64]:
habitat_stats = habitats_intermediate.pipe(
    output,
    iso_column="location_id",
    rep_d={
        "habitat_name": {
            "saltmarshes": 1,
            "seagrasses": 2,
            "warm-water corals": 3,
            "cold-water corals": 4,
            "mangroves": 5,
            "seamounts": 6,
        },
        "protected_area": {"": 0},
    },
    rename={
        "protected_area": "protectedArea",
        "total_area": "totalArea",
        "habitat_name": "habitat",
    },
    drop_cols=["location_id"],
)
HabitatsSchema(habitat_stats).to_csv(habitats_folder.joinpath("habitats_stats.csv"), index=True)

In [9]:
mpa_atlas_table = (
    mpaatlas_intermediate.pipe(calculate_area)
)

In [10]:
test = (
    mpa_atlas_table.pipe(calculate_global_area, gby_col=["establishm"], iso_column="location_i")
    .pipe(separate_parent_iso)
    .replace(
        {
            "location_i": {
                "COK": "NZL",
                "IOT": "GBR",
                "NIU": "NZL",
                "SHN": "GBR",
                "SJM": "NOR",
                "UMI": "USA",
                "NCL": "FRA",
            }
        }
    )
    .pipe(add_region_iso, iso_column="location_i")
    .pipe(mpaatlas_calculation, gby_col=["establishm"])
    .pipe(fix_monaco, iso_column="location_i", area_column="area_km2")
    .pipe(
        output,
        iso_column="location_i",
        rep_d={
            "establishm": {
                "actively managed": 4,
                "implemented": 6,
                "designated": 5,
                "proposed or committed": 3,
                "unknown": 1,
            }
        },
        rename={"establishm": "mpaa_establishment_stage", "area_km2": "area"},
        drop_cols=["location_i"],
    )
).assign(year=2023, protection_status=1)

StablishmentStageSchema(test[~test.location.isna()]).to_csv(
    mpaatlas_folder.joinpath("mpaatlas_stablishment.csv"), index=True
)

In [54]:
mpa_atlas_table

,wdpa_id,name,designatio,location_i,establishm,protection,protecti_1,year,geometry,area_km2
0,352400,Tremembé de Almofala,Terra Indígena,[BRA],proposed or committed,unknown,less protected or unknown,NaN,None,NaN
1,352254,Sahamalaza Iles Radama,National Park,[MDG],proposed or committed,unknown,less protected or unknown,NaN,None,NaN
2,352248,Complexe Zones Humides Mahavavy Kinkony,Paysage Harmonieux Protégé,[MDG],proposed or committed,unknown,less protected or unknown,NaN,None,NaN
3,316938,Laugum,Wildlife Management Area,[PNG],proposed or committed,unknown,less protected or unknown,NaN,None,NaN
4,308634,Ndongere,Parc National,[CMR],proposed or committed,unknown,less protected or unknown,NaN,None,NaN
...,...,...,...,...,...,...,...,...,...,...
740,555629385_A,Revillagigedo - Zona Núcleo/Uso Restringido In...,National Park,[MEX],actively managed,full,fully or highly protected,2019,"POLYGON ((-110.07809 20.00863, -110.07809 17.6...",148493.24
741,555624307_A,Pacífico Mexicano Profundo [Buffer Zone],Biosphere Reserve,[MEX],implemented,incompatible,less protected or unknown,2018,"MULTIPOLYGON (((-94.70558 15.19730, -92.76017 ...",315766.53
742,555624307_B,Pacífico Mexicano Profundo [Core Zone],Biosphere Reserve,[MEX],implemented,incompatible,less protected or unknown,2018,"MULTIPOLYGON (((-93.29993 13.95000, -93.29993 ...",122356.76
743,555624306_A,Caribe Mexicano Buffer Zone,Biosphere Reserve,[MEX],actively managed,incompatible,less protected or unknown,2016,"MULTIPOLYGON (((-86.06299 18.48397, -86.05480 ...",38809.04
744,555624306_B,Caribe Mexicano Core Zone,Biosphere Reserve,[MEX],actively managed,full,fully or highly protected,2016,"MULTIPOLYGON (((-87.33126 20.34369, -87.33393 ...",101.56

In [77]:
mpa_atlas_table.location_i.isin(list(['BRA']))

0      False
1      False
2      False
3      False
4      False
       ...
740    False
741    False
742    False
743    False
744    False
Name: location_i, Length: 745, dtype: bool

In [80]:
mpa_atlas_table[mpa_atlas_table.location_i.isin([list(["KIR"])])]

,wdpa_id,name,designatio,location_i,establishm,protection,protecti_1,year,geometry,area_km2
278,555512002,Phoenix Islands Protected Area,World Heritage Site (natural or mixed),[KIR],designated,unknown,less protected or unknown,NaN,"POLYGON ((-175.31500 -6.61600, -175.86600 -6.6...",408258.13
631,309888,Phoenix Islands [Ocean Conservation Zone],Protected Area,[KIR],actively managed,full,fully or highly protected,2011,"POLYGON ((-174.18420 -0.99950, -169.70600 -0.9...",400042.95
632,309888,Phoenix Islands [Kanton Restricted Use Zone],Protected Area,[KIR],actively managed,high,fully or highly protected,2011,"POLYGON ((-171.43679 -2.76415, -171.43676 -2.7...",2453.93
633,309888,Phoenix Islands [Atoll Reserve Zone],Protected Area,[KIR],actively managed,full,fully or highly protected,2011,"POLYGON ((-174.18420 -0.99950, -169.70600 -0.9...",400042.95

In [11]:
test2 = (
    mpa_atlas_table.pipe(calculate_global_area, gby_col=["protecti_1"], iso_column="location_i")
    .pipe(separate_parent_iso)
    .replace(
        {
            "location_i": {
                "COK": "NZL",
                "IOT": "GBR",
                "NIU": "NZL",
                "SHN": "GBR",
                "SJM": "NOR",
                "UMI": "USA",
                "NCL": "FRA",
            }
        }
    )
    .pipe(add_region_iso, iso_column="location_i")
    .pipe(mpaatlas_calculation, gby_col=["protecti_1"])
    .pipe(fix_monaco, iso_column="location_i", area_column="area_km2")
    .pipe(
        output,
        iso_column="location_i",
        rep_d={
            "protecti_1": {
                "fully or highly protected": 1,
                "less protected or unknown": 2,
            }
        },
        rename={"protecti_1": "mpaa_protection_level", "area_km2": "area"},
        drop_cols=[],
    )
)
ProtectionLevelSchema(test2[~test2.location.isna()].assign(year=2023)).to_csv(
    mpaatlas_folder.joinpath("mpaatlas_protection_level.csv"), index=True
)

In [12]:
protected_seas_table = (
    protectedseas_intermediate.pipe(calculate_area)
)

In [13]:
test3 = (
    protected_seas_table.pipe(calculate_global_area, gby_col=["FPS_cat"], iso_column="iso")
    .pipe(separate_parent_iso, iso_column="iso")
    .replace(
        {
            "iso": {
                "COK": "NZL",
                "IOT": "GBR",
                "NIU": "NZL",
                "SHN": "GBR",
                "SJM": "NOR",
                "UMI": "USA",
                "NCL": "FRA",
            }
        }
    )
    .pipe(add_region_iso, iso_column="iso")
    .pipe(protectedseas_calculation, gby_col=["FPS_cat"])
    .pipe(fix_monaco, iso_column="iso", area_column="area_km2")
    .pipe(
        output,
        iso_column="iso",
        rep_d={
            "FPS_cat": {
                "highly": 1,
                "moderately": 2,
                "less": 3,
            }
        },
        rename={"FPS_cat": "fishing_protection_level", "area_km2": "area"},
        drop_cols=["iso"],
    )
)

FPLSchema(test3).to_csv(protectedseas_folder.joinpath("lfp.csv"), index=True)

In [14]:
test4 = (
    mpa_intermediate.fillna(0)
    .replace(
        {
            "PARENT_ISO": {
                "COK": "NZL",
                "IOT": "GBR",
                "NIU": "NZL",
                "SHN": "GBR",
                "SJM": "NOR",
                "UMI": "USA",
                "NCL": "FRA",
            }
        }
    )
)

In [15]:
test4_final = (test4.pipe(
    output,
    iso_column="PARENT_ISO",
    rep_d={
        "STATUS": {
            "Adopted": 4,
            "implemented": 6,
            "Established": 6,
            "Designated": 5,
            "Proposed": 3,
            "Inscribed": 3,
            "unknown": 1,
        },
        "PA_DEF": {"0": 2, "1": 1},
        "STATUS_YR": {0: pd.NA},
    },
    rename={
        "PARENT_ISO": "iso",
        "PA_DEF": "protection_status",
        "GIS_M_AREA": "area",
        "STATUS_YR": "year",
        "WDPA_PID": "wdpaid",
        "NAME": "name",
    },
    drop_cols=["geometry", "WDPAID", "iso", "STATUS"],
).astype({"year": "Int64"})
)

prev = 0
for idx, size in enumerate(range(5000, len(test4_final.index) + 5000, 5000)):
    MPAsSchema(test4_final[(test4_final.index > prev) & (test4_final.index < size)]).to_csv(
        mpa_folder.joinpath(f"mpa_{idx}.csv"),
        index=True,
        encoding="utf-8",
    )
    prev = size

In [16]:
mpa_atlas_merge = mpa_atlas_table.pipe(separate_parent_iso, iso_column="location_i").replace(
    {
        "location_i": {
            "COK": "NZL",
            "IOT": "GBR",
            "NIU": "NZL",
            "SHN": "GBR",
            "SJM": "NOR",
            "UMI": "USA",
            "NCL": "FRA",
        }
    }
)

protectedseas_merge = protected_seas_table.pipe(separate_parent_iso, iso_column="iso").replace(
    {
        "iso": {
            "COK": "NZL",
            "IOT": "GBR",
            "NIU": "NZL",
            "SHN": "GBR",
            "SJM": "NOR",
            "UMI": "USA",
            "NCL": "FRA",
        }
    }
)

In [31]:
Final = (
    test4_final
    .assign(mpa=test4_final.index)
    .merge(
        mpa_atlas_merge[["establishm", "wdpa_id", "protection", "area_km2"]],
        left_on="wdpaid",
        right_on="wdpa_id",
        how="left",
    )
    .merge(
        protectedseas_merge[["site_id", "wdpa_id", "area_km2", "FPS_cat"]],
        left_on="wdpaid",
        right_on="wdpa_id",
        how="left",
    )
    .pipe(set_area)
    .pipe(filter_location)
    .drop_duplicates()
    .reset_index(drop=True)
)

In [29]:
Final[["area_km2_x", "area_km2_y", "area"]]

       area_km2_x  area_km2_y         area
0             NaN       14.67    14.636135
1             NaN        3.23     3.845623
2             NaN       11.11     9.989930
3             NaN         NaN   353.837622
4             NaN     6616.77  2270.594697
...           ...         ...          ...
18878         NaN         NaN     0.000000
18879         NaN         NaN     0.000000
18880         NaN         NaN     0.000000
18881         NaN         NaN     0.000000
18882         NaN         NaN     0.000000

[18883 rows x 3 columns]

In [28]:
Final[["area_km2_x", "area_km2_y", "area"]].bfill(axis=1)

        area_km2_x   area_km2_y         area
0        14.670000    14.670000    14.636135
1         3.230000     3.230000     3.845623
2        11.110000    11.110000     9.989930
3       353.837622   353.837622   353.837622
4      6616.770000  6616.770000  2270.594697
...            ...          ...          ...
18878     0.000000     0.000000     0.000000
18879     0.000000     0.000000     0.000000
18880     0.000000     0.000000     0.000000
18881     0.000000     0.000000     0.000000
18882     0.000000     0.000000     0.000000

[18883 rows x 3 columns]

In [44]:
Final[Final.location==88]

,wdpaid,protection_status,name,area,year,location,mpa,establishm,wdpa_id_x,protection,area_km2_x,site_id,wdpa_id_y,area_km2_y,FPS_cat,area_km2
5619,309888,1,Phoenix Islands Protected Area,400043.739458,2006,88.0,5554,actively managed,309888,full,400042.95,NaN,NaN,NaN,NaN,400042.95
5620,309888,1,Phoenix Islands Protected Area,400043.739458,2006,88.0,5554,actively managed,309888,high,2453.93,NaN,NaN,NaN,NaN,2453.93
6249,555624127,1,Nooto-North Tarawa,0.000000,2013,88.0,6182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
8236,555512002,1,Phoenix Islands Protected Area,408145.610180,2010,88.0,8152,designated,555512002,unknown,408258.13,NaN,NaN,NaN,NaN,408258.13
12563,10753,1,Vostock Island,0.000000,1979,88.0,12437,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
12564,4257,1,Cook Islet Closed Area (Kiritimati WS),0.000000,1975,88.0,12438,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
12565,4258,1,Motu Tabu Islet Closed Area (Kiritimati),0.000000,1975,88.0,12439,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
12566,4259,1,Motu Upua Closed Area,0.000000,1975,88.0,12440,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
12567,4261,1,Ngaontetaake Islet Closed Area (Kiritimati),0.000000,1979,88.0,12441,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
12568,555547607,1,North-west Point Closed Area (Kiritimati),0.000000,1975,88.0,12442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
12569,4253,1,Kiritimati Atoll (Christmas Island),0.000000,1999,88.0,12443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00

In [ ]:
Final.to_csv("../data/merge_country_table_qa.csv", index=True)

array([nan, 'designated', 'actively managed', 'implemented',
       'proposed or committed'], dtype=object)

In [34]:
Final.protection.unique()

array([nan, 'full', 'unknown', 'light', 'incompatible', 'high', 'minimal'],
      dtype=object)

In [35]:
Final.FPS_cat.unique()

array(['highly', 'less', nan, 'moderately'], dtype=object)

In [37]:
Final_output = Final.pipe(
    output,
    iso_column=None,
    rep_d={
        "protection": {
            "full": 3,
            "light": 4,
            "incompatible": 5,
            "high": 6,
            "minimal": 7,
            "unknown": 8,
        },
        "FPS_cat": {
            "highly": 1,
            "moderately": 2,
            "less": 3,
        },
        "establishm": {
            "actively managed": 4,
            "implemented": 6,
            "designated": 5,
            "proposed or committed": 3,
        },
    },
    rename={
        "establishm": "mpaa_establishment_stage",
        "protection": "mpaa_protection_level",
        "FPS_cat": "fishing_protection_level",
    },
    drop_cols=[
        "wdpaid",
        "wdpa_id_x",
        "wdpa_id_y",
        "area_km2_x",
        "area_km2_y",
        "protection_status",
        "name",
        "site_id",
        "year",
        "area"
    ],
).rename(columns={"area_km2": "area"})

#

In [38]:
batch_export(Final_output, 5000, MPAsTableStatsSchema, mpa_folder, "mpa_join_mpatlas_prot")

In [39]:
Final_output

,location,mpa,mpaa_establishment_stage,mpaa_protection_level,fishing_protection_level,area
id,,,,,,
1,15.0,1,NaN,NaN,1.0,14.670000
2,15.0,2,NaN,NaN,3.0,3.230000
3,27.0,3,NaN,NaN,1.0,11.110000
4,26.0,4,NaN,NaN,NaN,353.837622
5,26.0,5,NaN,NaN,1.0,6616.770000
...,...,...,...,...,...,...
18879,22.0,18728,NaN,NaN,NaN,0.000000
18880,22.0,18729,NaN,NaN,NaN,0.000000
18881,22.0,18730,NaN,NaN,NaN,0.000000
18882,22.0,18731,NaN,NaN,NaN,0.000000
18883,26.0,18732,NaN,NaN,NaN,0.000000

In [40]:
protectedseas_merge.wdpa_id.unique().shape

(10786,)

In [44]:
protectedseas_merge.wdpa_id.str.replace(' ','').str.split(';').explode().unique().shape

(11984,)

In [ ]:
# test_Final["area"] = test_Final.area_km2_y - test_Final.area_km2_x
# test_Final[(test_Final.area_km2_1 != 0) & (test_Final.area_km2_1.notna())]

In [81]:
base_url = "https://30x30.skytruth.org/cms"

strapi = Strapi(url=base_url)
strapi.login(
    jwt="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6NiwiaWF0IjoxNzEyODQ5NjA3LCJleHAiOjE3MTU0NDE2MDd9.5rZWHqO_xkbHfuWGEhOkxm2qT6DQxdKAE5w27CdUM_c"
    # "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6NiwiaWF0IjoxNzEyNzQzMzQzLCJleHAiOjE3MTUzMzUzNDN9.tAYMXcCCtAmySOmFPiYA3zRbOCBACKk-8416EuE1nUg"
)

In [82]:
strapi.deleteCollectionData("mpa-protection-coverage-stat", list(range(1, 18920)))

In [83]:
strapi.deleteCollectionData("mpa", list(range(1, 18914)))

In [54]:
#strapi.getCollectionData("mpa-protection-coverage-stats")

In [55]:
strapi.session.get(f"{base_url}/api/mpa-protection-coverage-stats")

In [127]:
strapi.importCollectionData(
    "mpa-protection-coverage-stat", Path("/home/mambauser/data/mpa_intermediate/mpa_join_mpatlas_prot_2.csv")
)

HTTPError: 401 Client Error: Unauthorized for url: https://30x30-dev.skytruth.org/cms/api/import-export-entries/content/import